<h3>Congrats ! Here's how you did</h3>
<ul>
  <li><%= @translation %></li>
  <li><%= @time %> seconds</li>
  <li>Your score is <%= @score.round(2) %></li>
</ul>

<%= link_to "Play again", game_path %>
